.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: rgb(0, 0, 0, 0);
  background-image: url(../../../images/Close\ Icon.svg);
  z-index: 3;
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    top: -30px;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url(../../../images/close__icon_small.svg);
  }
}
