.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}
