.elements__like {
  width: 22px;
  height: 19px;
  align-self: center;
  cursor: pointer;
  background-image: url(../../../images/like.svg);

  background-color: white;
  padding: 0;
  margin: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.elements__like:hover {
  opacity: 0.5;
}
